* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-wrapper img {
  max-height: 650px;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

button {
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
}

button.prev-btn {
  left: 10px;
}

button.next-btn {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1024px) {
  button {
    position: absolute;
    top: 15%;
    transform: translateY(-75%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
  }
}
